.todo-filter {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-container{
    display: flex;
    justify-content: space-between;
}

.todo-filter h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

.todo-filter form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.todo-filter label {
    flex: 1 1 100%;
    font-size: 1em;
    color: #555;
}

.todo-filter input,
.todo-filter select {
    flex: 1 1 calc(33.33% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
}

.todo-filter input[type="search"] {
    flex: 1 1 calc(33.33% - 10px);
}

.todo-filter .sort {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.todo-filter .sort label {
    font-size: 1em;
    color: #555;
}

.todo-filter .sort select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
}

.todo-filter .page {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-filter .page button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-filter .page button:hover {
    background-color: #0056b3;
}

.todo-filter .page span {
    font-size: 1.2em;
    color: #333;
}