.user-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-details h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.user-form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: black;
}

.form-group input[type="text"],
.form-group input[type="color"] {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input[type="text"] {
    width: 20em;
    padding: 10px;
}

.form-group input[type="color"] {
    width: 8em;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

.activities {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.activities th,
.activities td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.activities th {
    background-color: #f9f9f9;
    color: #333;
}

.activities tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}